<div class="home">
    <div class="overlay"></div>
    <div class="search-container">
        <h1>homeRental</h1>
        <h5>Renting homes made ezzyyy...</h5>
        <div class="search-options">
        </div>
        <div class="search-box">
            <!-- <input type="text" id="city-search" placeholder="Search for city" name="city-search">
            <input type="text" id="locality-search" placeholder="Search for locality, landmark, project, or builder" name="locality-search"> -->
            <!-- <button type="submit">Search</button> -->
            <button type="button" [routerLink]="['/properties']">Click here to search for properties...</button>
        </div>
        <div class="continue-search">
            
            <div class="previous-search">
                <p>AnyTime| AnyWhere | Any BHK | Any Price</p>
            </div>
        </div>
    </div>
</div>